.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem 1rem;
  padding-block: 1rem;

  @include mq-md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-block: 2rem 1rem;
  }

  @include mq-lg {
    padding-block: 4rem 1rem;
  }

  @include mq-xl {
    gap: 1rem 4rem;
  }
}

.hand {
  grid-column-start: 1;
  grid-row: span 2;

  position: relative;

  img {
    width: 100%;
    height: auto;
    scale: 1.5;
    translate: -25% 25%;
    z-index: -1;
  }
}

.trading {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.75rem;
  padding-block: 2rem 4rem;
  position: relative;

  > * {
    position: relative;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.065ch;
    font-size: 3rem;
    color: var(--c-secondary);
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--c-white);

    span {
      font-style: italic;
      font-weight: 600;
    }
  }

  @include mq-sm {
    h1 {
      font-size: 4.75rem;
    }

    h2 {
      font-size: 3rem;
    }
  }

  @include mq-md {
    grid-row: span 2;
    justify-content: center;

    h1 {
      font-size: clamp(2.75rem, 7vw, 3.6rem);
    }

    h2 {
      font-size: clamp(1.75rem, 5vw, 2.75rem);
    }
  }

  @include mq-lg {
    grid-row: initial;

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3rem;
    }
  }
}

.buttons {
  display: flex;
  gap: 0.75rem 1.2rem;
  padding-block: 1.75rem 0;

  button {
    border: 2px solid transparent;
    border-radius: 0.45em;
    overflow: clip;
  }
}

.regulated {
  position: absolute;
  bottom: -12%;
  right: 0;

  @include mq-lg {
    bottom: 0;
  }
}

.cta {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: end;
  color: var(--c-white);
  font-size: 1.2rem;
  padding-inline: 1rem 0;
  padding-block: 1rem;

  h1 {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--c-secondary);
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--c-gold);
  }

  a {
    margin-block: 1rem;
  }

  small {
    font-size: 1rem;
    font-style: italic;
    color: var(--c-gray-500);
  }

  @include mq-md {
    font-size: 1.4rem;
    margin-top: 6rem;
    align-items: flex-start;
    text-align: start;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.75rem;
    }
  }

  @include mq-lg {
    margin-top: 0;
    grid-column: initial;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem 1rem;
  font-size: 1.2rem;
  list-style: none;
  padding-block: 1rem 0;

  > * {
    flex-basis: fit-content;
  }
}

.tag {
  --tag-color: var(--c-white);

  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--tag-color);
  border-radius: 0.45em;
  padding: 0.25em 0.75em;
}

.orange {
  --tag-color: var(--c-orange);
}

.secondary {
  --tag-color: var(--c-secondary);
}

.red {
  --tag-color: var(--c-red);
}

.matching {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.4rem;
  text-align: center;
  margin-block: 4rem 6rem;
}

.desc {
  color: var(--c-gold);
  font-weight: 600;
  font-size: 1.275rem;

  @include mq-md {
    max-width: 90%;
    font-size: 1.5rem;
  }

  @include mq-lg {
    max-width: 70%;
  }
}

.features {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;
  padding-block: 1.4rem;
  color: var(--c-white);

  @include mq-sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.video {
  border-radius: 0.8em;
  overflow: clip;
}

.list {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.25rem;
  text-align: start;
  padding-inline: 0;
  list-style: none;
  font-weight: 500;

  li::before {
    content: '' / 'bullet';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-image: url('/images/list-icon-69b3f19604161.webp');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    vertical-align: middle;
    transform: translateY(40%);
  }

  @include mq-sm {
    align-items: flex-start;
    font-size: 1.5rem;
    row-gap: 1rem;
  }

  @include mq-md {
    padding-inline: 2rem;
  }
}

.analysis {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.4rem;
  text-align: center;
  margin-block: 0 6rem;
}

.function {
  --height: 560px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, calc(var(--height) / 12));
  align-content: center;
  justify-items: center;
  padding-block: 1.4rem;
}

.mobile {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.f1 {
  grid-column-start: 1;
  grid-row: 1 / 4;
}

.f2 {
  grid-column-start: 2;
  grid-row: 3 / 5;
}

.f3 {
  grid-column-start: 1;
  grid-row: 5 / 8;
}

.f4 {
  grid-column-start: 2;
  grid-row: 7 / 10;
}

.f5 {
  grid-column-start: 1;
  grid-row: 10 / 12;
}
