.section {
  background-image: url('/images/bg-2-69b3f1923a36a.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-block: 2rem 6rem;
}

.content {
  padding-top: clamp(6rem, 20vw, 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;

  @include mq-md {
    padding-top: 12rem;
    font-size: 1.275rem;
  }

  @include mq-lg {
    padding-top: 14rem;
  }

  @include mq-xl {
    padding-top: 16rem;
  }

  @include mq-2xl {
    padding-top: 18rem;
  }

  @include mq-3xl {
    padding-top: 20rem;
  }
}

.reason {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1rem;
  padding-block: 2.5rem 2rem;
  font-weight: 600;

  li {
    background-color: var(--c-white);
    padding: 0.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    align-items: center;
    border-radius: 0.8em;
  }

  h2 {
    font-size: 1.4rem;
    color: var(--c-primary);
    font-weight: 800;
    justify-self: flex-start;
  }

  p {
    text-align: left;
    grid-column: 1 / -1;
  }

  @include mq-md {
    li {
      grid-template-columns: auto 1fr 2fr;
      padding: 1rem 1.8rem;
    }

    h2 {
      font-size: 1.6rem;
      justify-self: auto;
    }

    p {
      grid-column: auto;
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;

  @include mq-md {
    width: auto;
    height: auto;
  }
}
