.section {
  background-image: url('/images/bg-3-69b3f1953190e.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 6rem;
  margin-block: 2rem 0;
}

.form {
  padding-top: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1.4rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  margin-block: 0 4rem;

  h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--c-secondary);
    line-height: 1;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.label {
  justify-self: stretch;
}

.input {
  --b-width: 1px;
  --b-color: var(--c-gray-500);
  --b-style: solid;
  --b-radius: 0.45em;

  border-width: var(--b-width);
  border-style: var(--b-style);
  border-color: var(--b-color);
  border-radius: var(--b-radius);
  background-color: transparent;
  color: var(--c-gray-500);
  color-scheme: dark;
  width: 100%;
  padding-block: 0.75em;
  padding-inline: 0.75em;
  line-height: 1;

  &::placeholder {
    color: currentColor;
  }
}

.span {
  grid-column: 1 / -1;
}

.submit {
  --bg-color: var(--c-orange);
}
