.section {
  background-image: url('/images/bg-3-69b3f1953190e.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  padding-bottom: 6rem;
  margin-block: 2rem 0;
}

.form {
  padding-top: clamp(8rem, 20vw, 10rem);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  gap: 1.4rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  margin-block: 0 4rem;

  h1 {
    margin-bottom: 1rem;
  }

  @include mq-md {
    padding-top: 12rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: 1.275rem;
  }

  @include mq-lg {
    padding-top: 14rem;
  }

  @include mq-xl {
    padding-top: 16rem;
    font-size: 1.4rem;
  }

  @include mq-2xl {
    padding-top: 18rem;
  }

  @include mq-3xl {
    padding-top: 20rem;
  }
}

.label {
  justify-self: stretch;
}

.input::placeholder {
  color: currentColor;
}

.span {
  grid-column: 1 / -1;
}

.submit {
  --bg-color: var(--c-orange);
}
