.section {
  background-image: url('/images/bg-1-69b3f191e451c.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-block: 0 6rem;
}

.content {
  padding-top: clamp(6rem, 20vw, 10rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;

  @include mq-md {
    padding-top: 12rem;
  }

  @include mq-lg {
    padding-top: 14rem;
  }

  @include mq-xl {
    padding-top: 16rem;
  }

  @include mq-2xl {
    padding-top: 18rem;
  }

  @include mq-3xl {
    padding-top: 24rem;
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-block: 2.5rem 2rem;
  font-size: 1.2rem;

  @include mq-md {
    padding-block: 2.5rem 2rem;
    font-size: 1.5rem;
  }

  @include mq-lg {
    display: none;
  }
}

.border {
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0.65rem;
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1em;
  font-weight: 600;
}

.disbutton {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.4rem;

  @include mq-md {
    padding-block: 1.4rem;
    padding-inline: 1.75rem;
  }
}

.image {
  margin-block: 0 1rem;
}

.group {
  --selected-color: var(--c-orange);

  display: none;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-items: stretch;
  gap: 1rem;
  padding-block: 2.5rem 2rem;

  @include mq-lg {
    display: grid;
  }
}

.guide {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: var(--selected-color);
  border-radius: 0.65rem;
  padding-block: 2rem;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.button {
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0.65rem;
  background-color: transparent;
  font-size: 1.1rem;
  color: var(--c-white);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-items: stretch;
  column-gap: 1em;
  font-weight: 600;
  flex-grow: 1;
  outline: none;

  @include mq-md {
    font-size: 1.4rem;
  }

  @include mq-lg {
    font-size: 1.65rem;
  }
}

.text {
  flex-grow: 1;
}

.marker {
  font-size: 1.75em;
  line-height: 1;
  flex-grow: 0;
  font-style: italic;
}

.selected {
  color: var(--selected-color);
}

.buttons {
  align-self: center;
  display: flex;
  gap: 0.75rem 1.2rem;

  button {
    border: 2px solid transparent;
    border-radius: 0.45em;
    overflow: clip;
  }
}
