.guide {
  text-align: center;
  margin-block: 6rem;
  font-size: 1.4rem;

  button {
    font-size: 1.275rem;
  }
}

.slides {
  // customize swiper
  --swiper-navigation-size: 40px;
  --swiper-theme-color: var(--c-white);

  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-block: 2.5rem 2rem;
  isolation: isolate;
}

.slide {
  // override swiper css
  height: auto !important;
  display: flex !important;
  justify-content: center;
  padding-inline: 2rem;

  &:not([data-index='1']) .card::before {
    content: '' / 'arrow-next';
    display: block;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);

    @include mq-md {
      width: 5em;
      height: 5em;
      background-image: url('/images/arrow-69b3f1918966f.webp');
      background-color: var(--c-bg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include mq-md {
    width: min(100%, 30ch) !important;
    padding: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.75rem;
  font-weight: 600;
  width: min(100%, 27ch);
  color: var(--c-white);
  padding: 2rem 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--c-orange);
  border-radius: 0.8em;
  position: relative;

  @include mq-md {
    width: auto;
    padding: 2rem 1.5rem;
  }
}
