.promotion {
  display: flex;
  gap: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--c-slate-200);
}
